version: '3.9' # optional since v1.27.0
services:
  dev-db:
    image: postgres:14
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: zendy199x
      POSTGRES_DB: nest
    networks:
      - zendy199x

  test-db:
    image: postgres:14
    ports:
      - 5435:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: zendy199x
      POSTGRES_DB: nest
    networks:
      - zendy199x
networks:
  zendy199x:
